@charset "utf-8";

*{
    margin:0;
    padding:0;
}

footer{
    width:100%;
    height:260px;
    text-align:center;
    background:#337ab7
}

h2{
    background-color:thistle;
}

#outer{
    width: 195px;
    height: 250px;
    margin: 0 auto;
    background-color:springgreen;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
}

#imgList{
    list-style-type: none;
    width: 1000px;
    position: absolute;
    left:-200px;
}

#imgList li{
    float:left;
    margin: 0 10px;
}