@charset "utf-8";

/*{
	margin:0;
	padding:0;
}*/
/*img{
	width:100px;
	height:100px;
}

div{
	visibility:hidden;
}

.d1{
	width:500px;
	height:100px;
	visibility:visible;
}
p{
	width:50px;
	visibility:hidden;
}
*/

/*
.d1{
	width:200px;
	height:300px;
	background-color:#ccc;
	float:left;
}

.d2{
	width:200px;
	height:300px;
	background-color:rgb(204, 236, 220);
	float:left;
	margin-left:20px;
}

button{
	margin-top:45px;
	margin-left:80px;
	border-radius:10px;
}

button:hover{
	background-color:yellow;
	border-style:inset;
}

#d1-1, #d2-1, #d3-1, #d4-1{
	visibility:hidden;
}

.u1{
	list-style-type:none;
}

#li1{
	display:none;
}
.li1:hover{
	width:70px;
	background-color:yellow;
}

#li2{
	display:none;
}
.li2:hover{
	width:70px;
	background-color:lime;
}

#li3{
	display:none;
}
.li3:hover{
	width:70px;
	background-color:pink;
}

img{
	width:100px;
	height:100px;
}
*/
div{
	width:200px;
	height:100px;
	background-color:#ccc;
}