@charset "utf-8";

*{
    margin:0;
    padding:0;
}

header{
    width:1200px;
    height:90px;
    float: left;
    background-color:#337ab7;
    text-align:center;
}

div{
    width: 149px;
    height: 90px;
    float: right;
    background-color: palegreen;
    text-align: center;
}

button{
    margin-top: 15px;
}

h2{
    line-height:40px;
}